In [1]:
import graphlab

In [21]:
sframe = graphlab.SFrame('F:\Machine Learning\Resources\Testdata.csv')

Finished parsing file F:\Machine Learning\Resources\Testdata.csv

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Parsing completed. Parsed 3 lines in 0.047002 secs.

Finished parsing file F:\Machine Learning\Resources\Testdata.csv

Parsing completed. Parsed 3 lines in 0.051003 secs.

In [22]:
sframe

Columns:
	Col1	str
	Col2	str
	Col3	str
	Col4	int

Rows: 3

Data:
+------+------+------+------+
| Col1 | Col2 | Col3 | Col4 |
+------+------+------+------+
| ABC  | DEF  | GHI  |  2   |
| abc  | def  | ghi  |  3   |
| abc  | def  | ghi  |  4   |
+------+------+------+------+
[3 rows x 4 columns]

# GraphLab Canvas

In [7]:
sframe.show()

Canvas is accessible via web browser at the URL: http://localhost:49930/index.html
Opening Canvas in default web browser.

In [11]:
graphlab.canvas.set_target('browser')

In [12]:
sframe['Col1'].show(view='Categorical')

Canvas is accessible via web browser at the URL: http://localhost:49952/index.html
Opening Canvas in default web browser.

In [17]:
sframe['Col4'].show()

Canvas is updated and available in a tab in the default browser.

In [18]:
sframe['Col4'].mean()

2.5

# Creating New Column in SFrame

In [19]:
sframe['Col1_2'] = sframe['Col1'] + ' ' + sframe['Col2']

In [20]:
sframe

Columns:
	Col1	str
	Col2	str
	Col3	str
	Col4	int
	Col1_2	str

Rows: 2

Data:
+------+------+------+------+---------+
| Col1 | Col2 | Col3 | Col4 |  Col1_2 |
+------+------+------+------+---------+
| ABC  | DEF  | GHI  |  2   | ABC DEF |
| abc  | def  | ghi  |  3   | abc def |
+------+------+------+------+---------+
[2 rows x 5 columns]

# How to apply method on our data set sframe

## Change abc to ABC in Column

### Define a function which return ABC if found abc

In [27]:
def transform_function(str):
    if str == 'abc':
        return 'ABC';
    else:
        return str;

In [28]:
sframe['Col1'].apply(transform_function)

dtype: str
Rows: 3
['ABC', 'ABC', 'ABC']

In [29]:
sframe

Columns:
	Col1	str
	Col2	str
	Col3	str
	Col4	int

Rows: 3

Data:
+------+------+------+------+
| Col1 | Col2 | Col3 | Col4 |
+------+------+------+------+
| ABC  | DEF  | GHI  |  2   |
| abc  | def  | ghi  |  3   |
| abc  | def  | ghi  |  4   |
+------+------+------+------+
[3 rows x 4 columns]

In [31]:
sframe['Col1'] = sframe['Col1'].apply(transform_function)

In [32]:
sframe

Columns:
	Col1	str
	Col2	str
	Col3	str
	Col4	int

Rows: 3

Data:
+------+------+------+------+
| Col1 | Col2 | Col3 | Col4 |
+------+------+------+------+
| ABC  | DEF  | GHI  |  2   |
| ABC  | def  | ghi  |  3   |
| ABC  | def  | ghi  |  4   |
+------+------+------+------+
[3 rows x 4 columns]